#slider1 { height: 1%; margin: 30px 0 0; overflow:hidden; position: relative; padding: 0 50px 10px;   }
#slider1 .viewport { height: 525px; overflow: hidden; position: relative; }
#slider1 .buttons {
    background: #fff;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    width: 35px;
    height: 35px;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
#slider1 .next {
    right: 0;
    left: auto;
    top: 20%;
}
#slider1 .buttons:hover{
    color: #C01313;
    background: #fff;
}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
#slider1 .overview li{ text-align:center;float: left; margin: 0 20px 0 0; padding: 11px; border: 1px solid #dcdcdc; width: 216px;background:#fff;font-size:12px;}
#slider1 .overview li p{text-align:left;}
#slider1 .overview li img{margin:10px auto;border:1px solid #dcdcdc;padding:2px;}
#slider1 .overview li  b{color: #999; font-size: 16px;font-weight: 400 !important;}