/*   
Theme Name: Craper Child
Author: Template-geek
Version: 1.0
Author URI: http://themeforest.net/user/Template-Geek/profile
Theme URI: http://themeforest.net/
Description: A sleek business multi-purpose WordPress Theme by - <a href="http://template-geek.com/">Template Geek</a>
License: The License with which You Bought This Theme from Themeforest
License URI: http://themeforest.net/wiki/support/legal-terms/licensing-terms/
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, rtl-language-support, sticky-post, translation-ready, microformats
Text Domain: wp_craper
Template: craper
*/


.gallery-caption {}
.commentlist .bypostauthor {}
.wp-caption {
border: 1px solid #ddd;
text-align: left;
background-color: #f3f3f3;
padding-top: 0px;
margin: 0px;
border-radius: 0px;
}
.wp-caption img {
margin: 0;
padding: 0;
padding-right: 0px;
border: 0 none;
}
.wp-caption p.wp-caption-text {
font-size: .80em;
line-height: 17px;
padding: 0 5px;
margin: 0;
}

.sticky {}
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { float: none; }