#slideshow .container {padding-bottom:0;}

#carousel-wrapper,
#carousel,
#carousel > div { width: 990px; height: 386px; }
.portfolio-slider-frames.horizontal-mode {padding-top:130px;}
body.slider_after_header .portfolio-slider-frames.horizontal-mode {padding-top:30px;}


#carousel-wrapper {	margin: 0 auto 0; overflow: hidden; position: relative; }
#carousel {	position: relative; z-index: 2; padding-top:25px; }
.caroufredsel_wrapper {}
#carousel div { position: relative; float: left; }
#carousel div > * { position: absolute; }

#carousel div > img  { padding-top:41px; background:url(top-frame.png) no-repeat center top; }

#carousel img.img-back,
#carousel img.img-back2,
#carousel .img-front {
-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.8); -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.8); box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
-webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-left-radius:4px; -moz-border-top-right-radius:4px; border-top-left-radius:4px; border-top-right-radius:4px;
-webkit-transform-origin:center bottom; -moz-transform-origin:center bottom; -ms-transform-origin:center bottom; transform-origin:center bottom;
-webkit-transition: -webkit-box-shadow 0.2s ease-out, -webkit-transform 0.2s ease-out;
-moz-transition: -moz-box-shadow 0.2s ease-out, -moz-transform 0.2s ease-out;
-o-transition: -o-box-shadow 0.2s ease-out, -o-transform 0.2s ease-out;
transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;}

#carousel .img-front { left: 257px; top: 0; z-index: 4; width: 460px; height: 361px; }
#carousel img.img-back { left: 470px; top: 80px; z-index: 3;}
#carousel img.img-back2 { left: 60px; top: 50px; z-index: 3; }
 
#carousel .project_title {left: 0; z-index:6; font-size:10px; font-family:Arial; color:#656565; text-shadow:0 1px 0 rgba(255,255,255,0.7); line-height:19px; width: 460px; text-align: center; font-weight: bold;}
#carousel .project_url {left: 70px; top:16px; z-index:6; font-size:10px; font-family:Arial; color:#888; line-height:19px; width: 270px;}
#carousel .project_url:hover {color:#555;}

#carousel.animating_frames img.img-back:hover,
#carousel.animating_frames img.img-back2:hover,
#carousel.animating_frames .img-front:hover { z-index:5; }
#carousel img.img-back:hover,
#carousel img.img-back2:hover,
#carousel .img-front:hover { -webkit-box-shadow: 0 0 30px #000; -moz-box-shadow: 0 0 30px #000; box-shadow: 0 0 30px #000; }
#carousel .img-front:hover {  -webkit-transform: scale(1.02); }

#prev, #next { background-color: rgba(0,0,0,0.1); display: block; width: 34px; height: 34px; position: absolute; bottom: 100px; z-index: 10; border-radius: 50%;}
#prev:hover, #next:hover { background-color: rgba(0,0,0,0.3);}
#prev span, #next span {margin: 10px;}
#prev { left: 0; }
#next { right: 0; }
.portfolio-slider-frames.horizontal-mode #prev { left: 20px; }
.portfolio-slider-frames.horizontal-mode #next { right: 20px; }

@media (max-width: 767px) {
	.portfolio-slider-frames #carousel-wrapper { left: 50%; margin-left: -495px;  margin-top: -170px; 
 -webkit-transform: scale(0.50); -moz-transform: scale(0.50); -ms-transform: scale(0.50); transform: scale(0.50);
 -webkit-transform-origin: center bottom; -moz-transform-origin: center bottom; -ms-transform-origin: center bottom; transform-origin: center bottom;}
}
@media (max-width: 480px) {
	.portfolio-slider-frames #carousel-wrapper { margin-top: -225px; 
 -webkit-transform: scale(0.35); -moz-transform: scale(0.35); -ms-transform: scale(0.35); transform: scale(0.35); }
}
@media (min-width: 768px) and (max-width: 991px){
	.portfolio-slider-frames #carousel-wrapper { left: 50%; margin-left: -495px;  margin-top: -125px; 
 -webkit-transform: scale(0.65); -moz-transform: scale(0.65); -ms-transform: scale(0.65); transform: scale(0.65);
 -webkit-transform-origin: center bottom; -moz-transform-origin: center bottom; -ms-transform-origin: center bottom; transform-origin: center bottom;}
}
@media (min-width: 992px) and (max-width: 1199px){
	.portfolio-slider-frames #carousel-wrapper { left: 50%; margin-left: -495px;  margin-top: -45px; 
 -webkit-transform: scale(0.85); -moz-transform: scale(0.85); -ms-transform: scale(0.85); transform: scale(0.85);
 -webkit-transform-origin: center bottom; -moz-transform-origin: center bottom; -ms-transform-origin: center bottom; transform-origin: center bottom;}
}
@media (min-width: 1200px) {
.portfolio-slider-frames.horizontal-mode #carousel-wrapper,
.portfolio-slider-frames.horizontal-mode #carousel { width: 100%;}
}