/*------------------custome styles------------------*/
figcaption p a{color:#ffffff;}
figcaption p a:hover{color:#ffffff;}
.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button{margin-bottom:0px !important;}
.margin-bottom{margin-bottom:80px;}
.margin-bottom-remove{margin-bottom:0px;}
.no-padding-top{padding-top:0px !important;}
.no-margin-top{margin-top:0px !important;}
.breadcrumb > li + li:before{/*content:"";*/}
