@font-face {
	font-family: 'Defaults';
	src:url('Defaults.eot?6d70fz');
	src:url('Defaults.eot?#iefix6d70fz') format('embedded-opentype'),
		url('Defaults.woff?6d70fz') format('woff'),
		url('Defaults.ttf?6d70fz') format('truetype'),
		url('Defaults.svg?6d70fz#Defaults') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="Defaults-"], [class*=" Defaults-"] {
	font-family: 'Defaults';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Defaults-glass:before {
	content: "\e600";
}
.Defaults-music:before {
	content: "\e601";
}
.Defaults-search:before {
	content: "\e602";
}
.Defaults-envelope:before {
	content: "\e603";
}
.Defaults-heart:before {
	content: "\e604";
}
.Defaults-star:before {
	content: "\e605";
}
.Defaults-star-empty:before {
	content: "\e606";
}
.Defaults-user:before {
	content: "\e607";
}
.Defaults-film:before {
	content: "\e608";
}
.Defaults-th-large:before {
	content: "\e609";
}
.Defaults-th:before {
	content: "\e60a";
}
.Defaults-th-list:before {
	content: "\e60b";
}
.Defaults-ok:before {
	content: "\e60c";
}
.Defaults-remove:before {
	content: "\e60d";
}
.Defaults-zoom-in:before {
	content: "\e60e";
}
.Defaults-zoom-out:before {
	content: "\e60f";
}
.Defaults-off:before {
	content: "\e610";
}
.Defaults-signal:before {
	content: "\e611";
}
.Defaults-cog:before {
	content: "\e612";
}
.Defaults-trash:before {
	content: "\e613";
}
.Defaults-home:before {
	content: "\e614";
}
.Defaults-file:before {
	content: "\e615";
}
.Defaults-time:before {
	content: "\e616";
}
.Defaults-road:before {
	content: "\e617";
}
.Defaults-download-alt:before {
	content: "\e618";
}
.Defaults-download:before {
	content: "\e619";
}
.Defaults-upload:before {
	content: "\e61a";
}
.Defaults-inbox:before {
	content: "\e61b";
}
.Defaults-play-circle:before {
	content: "\e61c";
}
.Defaults-repeat:before {
	content: "\e61d";
}
.Defaults-refresh:before {
	content: "\e61e";
}
.Defaults-list-alt:before {
	content: "\e61f";
}
.Defaults-lock:before {
	content: "\e620";
}
.Defaults-flag:before {
	content: "\e621";
}
.Defaults-headphones:before {
	content: "\e622";
}
.Defaults-volume-off:before {
	content: "\e623";
}
.Defaults-volume-down:before {
	content: "\e624";
}
.Defaults-volume-up:before {
	content: "\e625";
}
.Defaults-qrcode:before {
	content: "\e626";
}
.Defaults-barcode:before {
	content: "\e627";
}
.Defaults-tag:before {
	content: "\e628";
}
.Defaults-tags:before {
	content: "\e629";
}
.Defaults-book:before {
	content: "\e62a";
}
.Defaults-bookmark:before {
	content: "\e62b";
}
.Defaults-print:before {
	content: "\e62c";
}
.Defaults-camera:before {
	content: "\e62d";
}
.Defaults-font:before {
	content: "\e62e";
}
.Defaults-bold:before {
	content: "\e62f";
}
.Defaults-italic:before {
	content: "\e630";
}
.Defaults-text-height:before {
	content: "\e631";
}
.Defaults-text-width:before {
	content: "\e632";
}
.Defaults-align-left:before {
	content: "\e633";
}
.Defaults-align-center:before {
	content: "\e634";
}
.Defaults-align-right:before {
	content: "\e635";
}
.Defaults-align-justify:before {
	content: "\e636";
}
.Defaults-list:before {
	content: "\e637";
}
.Defaults-indent-left:before {
	content: "\e638";
}
.Defaults-indent-right:before {
	content: "\e639";
}
.Defaults-facetime-video:before {
	content: "\e63a";
}
.Defaults-picture:before {
	content: "\e63b";
}
.Defaults-pencil:before {
	content: "\e63c";
}
.Defaults-map-marker:before {
	content: "\e63d";
}
.Defaults-adjust:before {
	content: "\e63e";
}
.Defaults-tint:before {
	content: "\e63f";
}
.Defaults-edit:before {
	content: "\e640";
}
.Defaults-share:before {
	content: "\e641";
}
.Defaults-check:before {
	content: "\e642";
}
.Defaults-move:before {
	content: "\e643";
}
.Defaults-step-backward:before {
	content: "\e644";
}
.Defaults-fast-backward:before {
	content: "\e645";
}
.Defaults-backward:before {
	content: "\e646";
}
.Defaults-play:before {
	content: "\e647";
}
.Defaults-pause:before {
	content: "\e648";
}
.Defaults-stop:before {
	content: "\e649";
}
.Defaults-forward:before {
	content: "\e64a";
}
.Defaults-fast-forward:before {
	content: "\e64b";
}
.Defaults-step-forward:before {
	content: "\e64c";
}
.Defaults-eject:before {
	content: "\e64d";
}
.Defaults-chevron-left:before {
	content: "\e64e";
}
.Defaults-chevron-right:before {
	content: "\e64f";
}
.Defaults-plus-sign:before {
	content: "\e650";
}
.Defaults-minus-sign:before {
	content: "\e651";
}
.Defaults-remove-sign:before {
	content: "\e652";
}
.Defaults-ok-sign:before {
	content: "\e653";
}
.Defaults-question-sign:before {
	content: "\e654";
}
.Defaults-info-sign:before {
	content: "\e655";
}
.Defaults-screenshot:before {
	content: "\e656";
}
.Defaults-remove-circle:before {
	content: "\e657";
}
.Defaults-ok-circle:before {
	content: "\e658";
}
.Defaults-ban-circle:before {
	content: "\e659";
}
.Defaults-arrow-left:before {
	content: "\e65a";
}
.Defaults-arrow-right:before {
	content: "\e65b";
}
.Defaults-arrow-up:before {
	content: "\e65c";
}
.Defaults-arrow-down:before {
	content: "\e65d";
}
.Defaults-share-alt:before {
	content: "\e65e";
}
.Defaults-resize-full:before {
	content: "\e65f";
}
.Defaults-resize-small:before {
	content: "\e660";
}
.Defaults-plus:before {
	content: "\e661";
}
.Defaults-minus:before {
	content: "\e662";
}
.Defaults-asterisk:before {
	content: "\e663";
}
.Defaults-exclamation-sign:before {
	content: "\e664";
}
.Defaults-gift:before {
	content: "\e665";
}
.Defaults-leaf:before {
	content: "\e666";
}
.Defaults-fire:before {
	content: "\e667";
}
.Defaults-eye-open:before {
	content: "\e668";
}
.Defaults-eye-close:before {
	content: "\e669";
}
.Defaults-warning-sign:before {
	content: "\e66a";
}
.Defaults-plane:before {
	content: "\e66b";
}
.Defaults-calendar:before {
	content: "\e66c";
}
.Defaults-random:before {
	content: "\e66d";
}
.Defaults-comment:before {
	content: "\e66e";
}
.Defaults-magnet:before {
	content: "\e66f";
}
.Defaults-chevron-up:before {
	content: "\e670";
}
.Defaults-chevron-down:before {
	content: "\e671";
}
.Defaults-retweet:before {
	content: "\e672";
}
.Defaults-shopping-cart:before {
	content: "\e673";
}
.Defaults-folder-close:before {
	content: "\e674";
}
.Defaults-folder-open:before {
	content: "\e675";
}
.Defaults-resize-vertical:before {
	content: "\e676";
}
.Defaults-resize-horizontal:before {
	content: "\e677";
}
.Defaults-bar-chart:before {
	content: "\e678";
}
.Defaults-twitter-sign:before {
	content: "\e679";
}
.Defaults-facebook-sign:before {
	content: "\e67a";
}
.Defaults-camera-retro:before {
	content: "\e67b";
}
.Defaults-key:before {
	content: "\e67c";
}
.Defaults-cogs:before {
	content: "\e67d";
}
.Defaults-comments:before {
	content: "\e67e";
}
.Defaults-thumbs-up:before {
	content: "\e67f";
}
.Defaults-thumbs-down:before {
	content: "\e680";
}
.Defaults-star-half:before {
	content: "\e681";
}
.Defaults-heart-empty:before {
	content: "\e682";
}
.Defaults-signout:before {
	content: "\e683";
}
.Defaults-linkedin-sign:before {
	content: "\e684";
}
.Defaults-pushpin:before {
	content: "\e685";
}
.Defaults-external-link:before {
	content: "\e686";
}
.Defaults-signin:before {
	content: "\e687";
}
.Defaults-trophy:before {
	content: "\e688";
}
.Defaults-github-sign:before {
	content: "\e689";
}
.Defaults-upload-alt:before {
	content: "\e68a";
}
.Defaults-lemon:before {
	content: "\e68b";
}
.Defaults-phone:before {
	content: "\e68c";
}
.Defaults-check-empty:before {
	content: "\e68d";
}
.Defaults-bookmark-empty:before {
	content: "\e68e";
}
.Defaults-phone-sign:before {
	content: "\e68f";
}
.Defaults-twitter:before {
	content: "\e690";
}
.Defaults-facebook:before {
	content: "\e691";
}
.Defaults-github:before {
	content: "\e692";
}
.Defaults-unlock:before {
	content: "\e693";
}
.Defaults-credit:before {
	content: "\e694";
}
.Defaults-rss:before {
	content: "\e695";
}
.Defaults-hdd:before {
	content: "\e696";
}
.Defaults-bullhorn:before {
	content: "\e697";
}
.Defaults-bell:before {
	content: "\e698";
}
.Defaults-certificate:before {
	content: "\e699";
}
.Defaults-hand-right:before {
	content: "\e69a";
}
.Defaults-hand-left:before {
	content: "\e69b";
}
.Defaults-hand-up:before {
	content: "\e69c";
}
.Defaults-hand-down:before {
	content: "\e69d";
}
.Defaults-circle-arrow-left:before {
	content: "\e69e";
}
.Defaults-circle-arrow-right:before {
	content: "\e69f";
}
.Defaults-circle-arrow-up:before {
	content: "\e6a0";
}
.Defaults-circle-arrow-down:before {
	content: "\e6a1";
}
.Defaults-globe:before {
	content: "\e6a2";
}
.Defaults-wrench:before {
	content: "\e6a3";
}
.Defaults-tasks:before {
	content: "\e6a4";
}
.Defaults-filter:before {
	content: "\e6a5";
}
.Defaults-briefcase:before {
	content: "\e6a6";
}
.Defaults-fullscreen:before {
	content: "\e6a7";
}
.Defaults-group:before {
	content: "\e6a8";
}
.Defaults-link:before {
	content: "\e6a9";
}
.Defaults-cloud:before {
	content: "\e6aa";
}
.Defaults-beaker:before {
	content: "\e6ab";
}
.Defaults-cut:before {
	content: "\e6ac";
}
.Defaults-copy:before {
	content: "\e6ad";
}
.Defaults-paper-clip:before {
	content: "\e6ae";
}
.Defaults-save:before {
	content: "\e6af";
}
.Defaults-sign-blank:before {
	content: "\e6b0";
}
.Defaults-reorder:before {
	content: "\e6b1";
}
.Defaults-list-ul:before {
	content: "\e6b2";
}
.Defaults-list-ol:before {
	content: "\e6b3";
}
.Defaults-strikethrough:before {
	content: "\e6b4";
}
.Defaults-underline:before {
	content: "\e6b5";
}
.Defaults-table:before {
	content: "\e6b6";
}
.Defaults-magic:before {
	content: "\e6b7";
}
.Defaults-truck:before {
	content: "\e6b8";
}
.Defaults-pinterest:before {
	content: "\e6b9";
}
.Defaults-pinterest-sign:before {
	content: "\e6ba";
}
.Defaults-google-plus-sign:before {
	content: "\e6bb";
}
.Defaults-google-plus:before {
	content: "\e6bc";
}
.Defaults-money:before {
	content: "\e6bd";
}
.Defaults-caret-down:before {
	content: "\e6be";
}
.Defaults-caret-up:before {
	content: "\e6bf";
}
.Defaults-caret-left:before {
	content: "\e6c0";
}
.Defaults-caret-right:before {
	content: "\e6c1";
}
.Defaults-columns:before {
	content: "\e6c2";
}
.Defaults-sort:before {
	content: "\e6c3";
}
.Defaults-sort-down:before {
	content: "\e6c4";
}
.Defaults-sort-up:before {
	content: "\e6c5";
}
.Defaults-envelope-alt:before {
	content: "\e6c6";
}
.Defaults-linkedin:before {
	content: "\e6c7";
}
.Defaults-undo:before {
	content: "\e6c8";
}
.Defaults-legal:before {
	content: "\e6c9";
}
.Defaults-dashboard:before {
	content: "\e6ca";
}
.Defaults-comment-alt:before {
	content: "\e6cb";
}
.Defaults-comments-alt:before {
	content: "\e6cc";
}
.Defaults-bolt:before {
	content: "\e6cd";
}
.Defaults-sitemap:before {
	content: "\e6ce";
}
.Defaults-umbrella:before {
	content: "\e6cf";
}
.Defaults-paste:before {
	content: "\e6d0";
}
.Defaults-lightbulb:before {
	content: "\e6d1";
}
.Defaults-exchange:before {
	content: "\e6d2";
}
.Defaults-cloud-download:before {
	content: "\e6d3";
}
.Defaults-cloud-upload:before {
	content: "\e6d4";
}
.Defaults-user-md:before {
	content: "\e6d5";
}
.Defaults-stethoscope:before {
	content: "\e6d6";
}
.Defaults-suitcase:before {
	content: "\e6d7";
}
.Defaults-bell-alt:before {
	content: "\e6d8";
}
.Defaults-coffee:before {
	content: "\e6d9";
}
.Defaults-food:before {
	content: "\e6da";
}
.Defaults-file-alt:before {
	content: "\e6db";
}
.Defaults-building:before {
	content: "\e6dc";
}
.Defaults-hospital:before {
	content: "\e6dd";
}
.Defaults-ambulance:before {
	content: "\e6de";
}
.Defaults-medkit:before {
	content: "\e6df";
}
.Defaults-fighter-jet:before {
	content: "\e6e0";
}
.Defaults-beer:before {
	content: "\e6e1";
}
.Defaults-h-sign:before {
	content: "\e6e2";
}
.Defaults-plus-sign2:before {
	content: "\e6e3";
}
.Defaults-double-angle-left:before {
	content: "\e6e4";
}
.Defaults-double-angle-right:before {
	content: "\e6e5";
}
.Defaults-double-angle-up:before {
	content: "\e6e6";
}
.Defaults-double-angle-down:before {
	content: "\e6e7";
}
.Defaults-angle-left:before {
	content: "\e6e8";
}
.Defaults-angle-right:before {
	content: "\e6e9";
}
.Defaults-angle-up:before {
	content: "\e6ea";
}
.Defaults-angle-down:before {
	content: "\e6eb";
}
.Defaults-desktop:before {
	content: "\e6ec";
}
.Defaults-laptop:before {
	content: "\e6ed";
}
.Defaults-tablet:before {
	content: "\e6ee";
}
.Defaults-mobile:before {
	content: "\e6ef";
}
.Defaults-circle-blank:before {
	content: "\e6f0";
}
.Defaults-quote-left:before {
	content: "\e6f1";
}
.Defaults-quote-right:before {
	content: "\e6f2";
}
.Defaults-spinner:before {
	content: "\e6f3";
}
.Defaults-circle:before {
	content: "\e6f4";
}
.Defaults-reply:before {
	content: "\e6f5";
}
.Defaults-github-alt:before {
	content: "\e6f6";
}
.Defaults-folder-close-alt:before {
	content: "\e6f7";
}
.Defaults-folder-open-alt:before {
	content: "\e6f8";
}
.Defaults-expand-alt:before {
	content: "\e6f9";
}
.Defaults-collapse-alt:before {
	content: "\e6fa";
}
.Defaults-smile:before {
	content: "\e6fb";
}
.Defaults-frown:before {
	content: "\e6fc";
}
.Defaults-meh:before {
	content: "\e6fd";
}
.Defaults-gamepad:before {
	content: "\e6fe";
}
.Defaults-keyboard:before {
	content: "\e6ff";
}
.Defaults-flag-alt:before {
	content: "\e700";
}
.Defaults-flag-checkered:before {
	content: "\e701";
}
.Defaults-terminal:before {
	content: "\e702";
}
.Defaults-code:before {
	content: "\e703";
}
.Defaults-reply-all:before {
	content: "\e704";
}
.Defaults-star-half-full:before {
	content: "\e705";
}
.Defaults-location-arrow:before {
	content: "\e706";
}
.Defaults-crop:before {
	content: "\e707";
}
.Defaults-code-fork:before {
	content: "\e708";
}
.Defaults-unlink:before {
	content: "\e709";
}
.Defaults-question:before {
	content: "\e70a";
}
.Defaults-info:before {
	content: "\e70b";
}
.Defaults-exclamation:before {
	content: "\e70c";
}
.Defaults-superscript:before {
	content: "\e70d";
}
.Defaults-subscript:before {
	content: "\e70e";
}
.Defaults-eraser:before {
	content: "\e70f";
}
.Defaults-puzzle:before {
	content: "\e710";
}
.Defaults-microphone:before {
	content: "\e711";
}
.Defaults-microphone-off:before {
	content: "\e712";
}
.Defaults-shield:before {
	content: "\e713";
}
.Defaults-calendar-empty:before {
	content: "\e714";
}
.Defaults-fire-extinguisher:before {
	content: "\e715";
}
.Defaults-rocket:before {
	content: "\e716";
}
.Defaults-maxcdn:before {
	content: "\e717";
}
.Defaults-chevron-sign-left:before {
	content: "\e718";
}
.Defaults-chevron-sign-right:before {
	content: "\e719";
}
.Defaults-chevron-sign-up:before {
	content: "\e71a";
}
.Defaults-chevron-sign-down:before {
	content: "\e71b";
}
.Defaults-html5:before {
	content: "\e71c";
}
.Defaults-css3:before {
	content: "\e71d";
}
.Defaults-anchor:before {
	content: "\e71e";
}
.Defaults-unlock-alt:before {
	content: "\e71f";
}
.Defaults-bullseye:before {
	content: "\e720";
}
.Defaults-ellipsis-horizontal:before {
	content: "\e721";
}
.Defaults-ellipsis-vertical:before {
	content: "\e722";
}
.Defaults-rss-sign:before {
	content: "\e723";
}
.Defaults-play-sign:before {
	content: "\e724";
}
.Defaults-ticket:before {
	content: "\e725";
}
.Defaults-minus-sign-alt:before {
	content: "\e726";
}
.Defaults-check-minus:before {
	content: "\e727";
}
.Defaults-level-up:before {
	content: "\e728";
}
.Defaults-level-down:before {
	content: "\e729";
}
.Defaults-check-sign:before {
	content: "\e72a";
}
.Defaults-edit-sign:before {
	content: "\e72b";
}
.Defaults-external-link-sign:before {
	content: "\e72c";
}
.Defaults-share-sign:before {
	content: "\e72d";
}
.Defaults-compass:before {
	content: "\e72e";
}
.Defaults-collapse:before {
	content: "\e72f";
}
.Defaults-collapse-top:before {
	content: "\e730";
}
.Defaults-expand:before {
	content: "\e731";
}
.Defaults-euro:before {
	content: "\e732";
}
.Defaults-gbp:before {
	content: "\e733";
}
.Defaults-dollar:before {
	content: "\e734";
}
.Defaults-rupee:before {
	content: "\e735";
}
.Defaults-yen:before {
	content: "\e736";
}
.Defaults-renminbi:before {
	content: "\e737";
}
.Defaults-won:before {
	content: "\e738";
}
.Defaults-bitcoin:before {
	content: "\e739";
}
.Defaults-file2:before {
	content: "\e73a";
}
.Defaults-file-text:before {
	content: "\e73b";
}
.Defaults-sort-by-alphabet:before {
	content: "\e73c";
}
.Defaults-sort-by-alphabet-alt:before {
	content: "\e73d";
}
.Defaults-sort-by-attributes:before {
	content: "\e73e";
}
.Defaults-sort-by-attributes-alt:before {
	content: "\e73f";
}
.Defaults-sort-by-order:before {
	content: "\e740";
}
.Defaults-sort-by-order-alt:before {
	content: "\e741";
}
.Defaults-thumbs-up2:before {
	content: "\e742";
}
.Defaults-thumbs-down2:before {
	content: "\e743";
}
.Defaults-youtube-sign:before {
	content: "\e744";
}
.Defaults-youtube:before {
	content: "\e745";
}
.Defaults-xing:before {
	content: "\e746";
}
.Defaults-xing-sign:before {
	content: "\e747";
}
.Defaults-youtube-play:before {
	content: "\e748";
}
.Defaults-dropbox:before {
	content: "\e749";
}
.Defaults-stackexchange:before {
	content: "\e74a";
}
.Defaults-instagram:before {
	content: "\e74b";
}
.Defaults-flickr:before {
	content: "\e74c";
}
.Defaults-adn:before {
	content: "\e74d";
}
.Defaults-bitbucket:before {
	content: "\e74e";
}
.Defaults-bitbucket-sign:before {
	content: "\e74f";
}
.Defaults-tumblr:before {
	content: "\e750";
}
.Defaults-tumblr-sign:before {
	content: "\e751";
}
.Defaults-long-arrow-down:before {
	content: "\e752";
}
.Defaults-long-arrow-up:before {
	content: "\e753";
}
.Defaults-long-arrow-left:before {
	content: "\e754";
}
.Defaults-long-arrow-right:before {
	content: "\e755";
}
.Defaults-apple:before {
	content: "\e756";
}
.Defaults-windows:before {
	content: "\e757";
}
.Defaults-android:before {
	content: "\e758";
}
.Defaults-linux:before {
	content: "\e759";
}
.Defaults-dribbble:before {
	content: "\e75a";
}
.Defaults-skype:before {
	content: "\e75b";
}
.Defaults-foursquare:before {
	content: "\e75c";
}
.Defaults-trello:before {
	content: "\e75d";
}
.Defaults-female:before {
	content: "\e75e";
}
.Defaults-male:before {
	content: "\e75f";
}
.Defaults-gittip:before {
	content: "\e760";
}
.Defaults-sun:before {
	content: "\e761";
}
.Defaults-moon:before {
	content: "\e762";
}
.Defaults-archive:before {
	content: "\e763";
}
.Defaults-bug:before {
	content: "\e764";
}
.Defaults-vk:before {
	content: "\e765";
}
.Defaults-weibo:before {
	content: "\e766";
}
.Defaults-renren:before {
	content: "\e767";
}
