/*   
Theme Name: Craper
Author: Template-geek
Version: 1.0.1
Author URI: http://themeforest.net/user/Template-Geek/profile
Theme URI: http://themeforest.net/
Description: A sleek business multi-purpose WordPress Theme by - <a href="http://template-geek.com/">Template Geek</a>
License: The License with which You Bought This Theme from Themeforest
License URI: http://themeforest.net/wiki/support/legal-terms/licensing-terms/
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, rtl-language-support, sticky-post, translation-ready, microformats
Text Domain: wp_craper
*/


.gallery-caption {}
.commentlist .bypostauthor {}
.wp-caption {
	max-width:100%;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	margin: 0px 0px 10px 0px;
	border-radius: 0px;
}
.wp-caption img {
	margin: 0 0 10px 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
font-size: .80em;
line-height: 17px;
padding: 0 5px;
margin: 0;
}

.sticky {}
.alignright { float: right; margin-left:20px; margin-bottom:10px; }
.alignleft { float: left; margin-right:20px; margin-bottom:10px; }
.aligncenter { float: none; }

/*extra style from adi*/
.parallex-section *, .parallex-section h4.stat-dig {color:#565656 !important;}

/* new icons*/
.icon-poweroff {display:block;height:97px;width:100px;background:url(images/portal_website_icon.png);}
.icon-poweroff:before { content: "" !important;}

.icon-download {display:block;height:97px;width:100px;background:url(images/hub_website_icon.png);}
.icon-download:before { content: "" !important;}

.icon-music {display:block;height:97px;width:100px;background:url(images/go_website_icon_.png);}
.icon-music:before { content: "" !important;}

.icon-star{display:block;height:97px;width:100px;background:url(images/advisory_services_website_icon.png);}
.icon-star:before { content: "" !important;}

.post .attachment-post-thumbnail{float:right;max-width:100%;}


.tick{display:block;height:97px;width:100px;background:url(images/advisory_services_website_icon.png);}
.tick:before { content: "" !important;}

/* make images on product pages full width*/
.wpb_content_element.wpb_single_image img, .wpb_thumbnails .post-thumb img {
    height: auto !important;
    max-width: 100%;
	width:100% !important;
}

.col-md-12 {
/*background:#6daaaa !important;
color:#fff;*/}


.col-md-12 .cus-area{background-color:#87D1D6 !important;}

/* color banner on portal page*/
.page-id-5029 .banner{background-color:#4D5EAB;}
/* color banner on hub page*/
.page-id-4584 .banner{background-color:#000;}
/* color banner on iGo page*/
.page-id-4557  .banner{background-color:#FDB72F;}

/* advisory text white*/
/*.page-id-55 .col-md-6 p, .page-id-55 .col-md-6 h1, .page-id-55 .col-md-6 a{color:#fff !important;}*/

#menu-isite-main .menu-item a{}

.banner, .focus-area{
background-color:#27235e;
}

.page-id-4557 .focus-area{
background-color: #FDB72F;
}

.page-id-4584 .focus-area{
background-color: #000;
}

.page-id-5029 .bg-theme{
 background-color: #4d5eab !important;
}

.page-id-4557 .horizontal-icon{
background:url("images/orange-tick.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.page-id-202 #text-6{padding:0 0 0 20px;}


#categories-2, #sh_recentposts-2{padding:0 20px;}

/* fix for 2x2 portfolio on homepage*/
.page-id-421 .portfolio-list{max-width:940px;margin:0 auto;}
.page-id-421 .portfolio-list li{width:33% !important;}
.page-id-421 .focus-area p{font-size:2em !important}


.page-id-4116 .parallex-section { padding: 40px 0 !important;}

.btn {background:#27235E !important;color:#fff !important; border:0px !important;}


.portfolio-box figcaption span{color:#fff;font-weight:bold;}

.conmap1 , .conmap2{ margin: 4% auto;padding: 4%;width: 80%;}
.conmap1 iframe, .conmap2 iframe{height:300px;}

.portfolio-list h5{    
font-size: 1.7em;
line-height: 1.6em;
font-weight:bold;
}

.portfolio-box figcaption span {
font-weight:normal;
}

.parallex-section p a, .row p a {
	font-weight:bold;
}